{% extends "mobile/world/shell/base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/mobile/world/shell/grimoire/citrinitas.css?v=2">

<div class="m-grimoire-archive-container">
    <h1 class="m-archive-title">Citrinitas</h1>
    
    <div class="m-archive-list" id="m-citrinitas-archive-list">
    </div>

    <a href="/world/grimoire" class="m-btn-return">
        RETURN TO GRIMOIRE
    </a>
</div>

<script src="/static/mobile/world/shell/grimoire/citrinitas.js?v=2"></script>
{% endblock %}